<div>  
  <h2>CENTRO DE MENSAJES</h2>  
  <form onsubmit="return addMessage(this)" class="formularioMensajes">
    <input type="text" id="mail" placeholder="Tu Mail" required>
    <input type="text" id="mensaje" placeholder="Ingresa un mensaje...">
    <input type="submit" value="ENVIAR" class="submitButtonMns">
    <div id="mensajes"></div>
  </form>  
</div>